<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to bookshelf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" name="username" required [(ngModel)]="username" (ngModelChange)="onDataChanged()"></ion-input>
      <ion-note slot="error" *ngIf="authFail">Invalid email</ion-note>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" required [(ngModel)]="password" (ngModelChange)="onDataChanged()"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="login()">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
