<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Book list
    </ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['.', 'new']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item [button]="true" detail="true" [routerLink]="['.', item.id]">
        <ion-label>{{ item.name }}</ion-label>
        <ion-label>{{ item.author.name }}</ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
